---
import "../styles/global.css";
const { children, head } = Astro.props;
---
<!doctype html>
<html lang="fr">
  <head>
    {head}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Le Sportif Gourmand</title>
  </head>
  <body class="min-h-screen">
    {children}
  </body>
</html>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
